APP_NAME="الاحسان"
APP_VERSION="0.1"


MAX_NUMBER_OF_YOUTUBE_URLS=5
MAX_SIZE_YOUTUBE_VIDEO= 512000000 

#====================================MySQL DB config==========================================
MYSQL_HOST="localhost"
MYSQL_ROOT_PASSWORD=<PUT YOUR MY MySQL PASWORD HERE>
MYSQL_DATABASE="al_ehsan"
MYSQL_USER=<PUT YOUR MY MySQL USER HERE>
MYSQL_PASSWORD=<PUT YOUR MY MySQL PASWORD HERE>
MYSQL_VIDEOS_TABLE_NAME=<PUT YOUR MY MySQL MYSQL VIDEOS TABLE NAME HERE>
MYSQL_FILES_TABLE_NAME=<PUT YOUR MY MySQL MYSQL FILES TABLE NAME HERE>
MySQL_YOUTUBE_URLS_CHUNKS_NAME=<PUT YOUR MySQL YOUTUBE URLS CHUNKS NAME HERE>


#====================================chunking config================================================
MAX_CHUNK_NO_CHARS=<PUT YOUR MAX MAX CHUNK NO CHARS HERE>

#===================================vectorDB config================================================
VECTORDB_COLLECTION_NAME=<PUT YOUR COLLECTION NAME HERE>










